@import 'tailwindcss';
@import './font.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  body {
    font-family: 'SFPro', ui-sans-serif, system-ui, sans-serif;
  }
}

@theme {
  --color-gray-0: #c4c4c4;
  --color-gray-1: #8c8787;
  --color-gray-2: #424242;
  --color-gray-3: #121212;

  --color-black: #000000;
  --color-white: #ffffff;
}
